.btn, .btn-flat {
	text-transform: capitalize;
	font-size: .9rem;
}

.btn {
	font-weight: 300;

}

.btn-flat {
	color: darken($purply-color, 20%);
	font-weight: 400;
}

.btn-bigger {
	padding: .2rem 2rem;
	height: auto;
	&.btn-flat {
		padding: .2rem 0;
		font-weight: 500;
	}
}