div {
  @include box-sizing(border-box);
}

.div__site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.div__site-content {
  flex: 1 0 auto;
  padding:0;
  width: 100vw;
  &:after {
    content: '\00a0';
    display: block;
    margin-top:0;
    height: 0;
    visibility: hidden;
  }
}

.div__content-wrapper{
  padding: 2rem 0 4.5rem;
	@media #{$small-and-down} {
    padding: 10vw 0;
  }
}

.card {
  background-color: $off-white;
  border-radius: 5px;
  display: block;
}

.div__form-fields-wrapper {
  padding: .75rem 6vw 1rem;
  margin-bottom: 1.75rem;
}