.div__credits-wrapper {
  box-shadow: 0px -3px 11px -5px rgba(0,0,0,.2) inset;
  background-color: $light-blue-background;
}

.div__credits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem 2vw;
  max-width: 64rem;
	@media #{$small-and-down} {
    padding: .75rem 4vw .75rem;
    display: block;
	}
  button: {
    background-color: $primary-button-color;
  }
}

.availableCredits, .section__greeting {
  color: $grey-text;
  margin: 0;
  b {
    font-size: 120%;
  }
	@media #{$small-and-down} {
    width: 100%;
	}
}

.section__greeting {
	@media #{$small-and-down} {
    display:none;
	}
}

.availableCredits {
  text-align: right;
  div {
    display: flex;
    align-items: center;
    @media #{$small-and-down} {
      justify-content: space-between;
    }
  }
	@media #{$medium-and-up} {
    span:last-child {
      margin-left: 3rem;
    }
	}
}
