.div__action-wrapper {
  text-align: center;
  padding: 3vw 3rem;
  max-width: 48rem;
  margin: 0 auto;
  h4 {
    margin: 1rem 1rem 1.5rem;
    color: $dark-blue;
    font-size:180%;
  }
  table {
    max-width: 28rem;
    margin: 2rem auto;
  }
  .btn {
    font-size: 105%;
    padding: .25rem 2rem;
    height: auto;
  }
}

.fixed-action-btn {
  right: 1.25rem;
  bottom: 1.25rem;
  @media #{$medium-and-up} {
    right: 3rem;
    bottom: 3rem;
  } 
}

