.div__footer {
  background-color: $dark-blue;
  padding: 2rem 0 2.5rem;
  text-align: center;
  p {
    color: lighten($grey-text, 40%);
    margin: 0;
  }
  img {
    display: inline-block;
    width: 12rem;
    height: auto;
    position: relative;
    top: .5rem;
    padding: 0 .25rem;
  }
  a {
    color: lighten($grey-text, 40%);
    @include transition(ease .3s all);
    &:hover {
      color: white;
    }
  }
  small {
    color: lighten($grey-text, 40%);
    margin-top: 1.5rem;
    display: block;
    @media #{$medium-and-up} {
      margin-top: 2rem;
    }
  }
}