nav {
  background:linear-gradient(93deg,#2889e3,#489be8 15%,#745afa 47%,#f22f46 88%,#f22f46);
  body.landing & {
    @extend .transparent;
    background: none;
    box-shadow: none !important;
    position: relative;
  }
  @media #{$medium-and-down} {
    .brand-logo.left {
      left: 6vw;    
    }    
  }
  .brand-logo {
    font-size: 4rem;
  }
  .App-logo {
    width: auto; 
    height: 3rem;
    line-height: 4rem;
  }
  @media #{$small-and-down} {
    .nav__container {
      width: 100%;
    }
    .brand-logo {
      font-size: 2.75rem;
    }
    .App-logo {
      width: auto; 
      height: 2.2rem;
      line-height: 3rem;
    }
  }
}

