.div__landing-wrapper {
  h1, h2 {
    font-weight: 300;
    text-shadow: 2px 2px 2px $off-black;
  }
  h1 {
    line-height: 130%;
    font-size: 2.5rem;
  }
  h2 {
    line-height: 160%;
    font-size: 1.6rem;
    margin: 0;
    max-width: 45rem;
    strong {
      font-size: 110%;
    }
  }
  @media #{$medium-and-down} {
    h1 {
      font-size: 2.2rem;
    }
    h2 {
      font-size: 1.3rem;
    }
  }
}

.div__landing-banner {
  background-image: url('../images/three2.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -5rem;
  z-index: -1;
  background-position: center center;
  text-align: center;
  .div__banner-content {
    color: $light-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 2rem;
    background-repeat: no-repeat;
    padding: 20vw 0;
    @media #{$medium-and-up} {
      padding: 8vw 0 7vw;
    }
  }
}

.div__intro-section {
  display: flex;
  align-items: center;
  h3 {
    line-height: 130%;
    font-size: 1.4rem;
    margin: 0;
    color: $grey-text;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  p {
    font-size: 1rem;
    color: $med-grey-text;
    margin: .5rem 0;
  }
  @media #{$large-and-up} {
    h3 {
      line-height: 130%;
      font-size: 1.5rem;
    }
    p {
      font-size: 1.1rem;
      color: $med-grey-text;
    }
  }
}