.div__not-found-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  h4 {
    margin-bottom: 2rem;
    text-align: center;
    line-height: 2.7rem;
    span {
      display: block;
      color: $grey-text;
      font-size: 1.6rem;
    }
  }
}

