.div__form-wrapper {
  max-width: 38rem;
  margin: 0 auto;
  h5 {
    margin-bottom: .25rem;
  }
  p {
    margin: 0 0 2rem;
    color: $med-grey-text;
  }
  div.input-field {
    margin-bottom: 1.25rem;
  }
  input {
    margin-bottom: 2px;
    font-size: 1.2rem;
  } 
  .helper-text {
    color: darken($purply-color, 20%);
    font-size: .8rem;
  }
}

input:not([type]):not([readonly]), input[type="text"]:not(.browser-default):not([readonly]), input[type="password"]:not(.browser-default):not([readonly]), input[type="email"]:not(.browser-default):not([readonly]), input[type="url"]:not(.browser-default):not([readonly]), input[type="time"]:not(.browser-default):not([readonly]), input[type="date"]:not(.browser-default):not([readonly]), input[type="datetime"]:not(.browser-default):not([readonly]), input[type="datetime-local"]:not(.browser-default):not([readonly]), input[type="tel"]:not(.browser-default):not([readonly]), input[type="number"]:not(.browser-default):not([readonly]), input[type="search"]:not(.browser-default):not([readonly]), textarea.materialize-textarea:not([readonly]) {
  color: $dark-blue;
  border-bottom: 1px solid $med-grey-text;
}

input:not([type]):not([readonly]) + label, input[type="text"]:not(.browser-default):not([readonly]) + label, input[type="password"]:not(.browser-default):not([readonly]) + label, input[type="email"]:not(.browser-default):not([readonly]) + label, input[type="url"]:not(.browser-default):not([readonly]) + label, input[type="time"]:not(.browser-default):not([readonly]) + label, input[type="date"]:not(.browser-default):not([readonly]) + label, input[type="datetime"]:not(.browser-default):not([readonly]) + label, input[type="datetime-local"]:not(.browser-default):not([readonly]) + label, input[type="tel"]:not(.browser-default):not([readonly]) + label, input[type="number"]:not(.browser-default):not([readonly]) + label, input[type="search"]:not(.browser-default):not([readonly]) + label, textarea.materialize-textarea:not([readonly]) + label {
  color: $med-grey-text;
}
input:not([type]):focus:not([readonly]) + label, input[type="text"]:not(.browser-default):focus:not([readonly]) + label, input[type="password"]:not(.browser-default):focus:not([readonly]) + label, input[type="email"]:not(.browser-default):focus:not([readonly]) + label, input[type="url"]:not(.browser-default):focus:not([readonly]) + label, input[type="time"]:not(.browser-default):focus:not([readonly]) + label, input[type="date"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime-local"]:not(.browser-default):focus:not([readonly]) + label, input[type="tel"]:not(.browser-default):focus:not([readonly]) + label, input[type="number"]:not(.browser-default):focus:not([readonly]) + label, input[type="search"]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: $dark-blue;
}

input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $dark-blue;
  box-shadow: 0 1px 0 0 $dark-blue;
}