.div__survey-list-wrapper {
  max-width: 60rem;
  h5 {
    margin: 0 0 .75rem 1rem;
    @media #{$medium-and-up} {
      margin: 0 0 1.5rem 2rem;
    }
    span {
      background-color: white;
      z-index: 9;
      position: relative;
    }
    strong {
      display: inline-block;
      padding-left: .5rem;
    }
  }
}

.link__survey-list-item.card {
  .card-content {
    padding: 1rem;
    @media #{$medium-and-up} {
      padding: 1rem 2rem;
    }
    .div__flex-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .section__card-title {
        @media #{$small-and-down} {
          max-width: 50%;
        }
      }
      .card-title {
        margin-bottom: 0 !important;
        line-height: 1.75rem;
        padding-right: 1.5rem;
        font-size: 1.3rem;
        color: $dark-blue;
        font-weight: 400;
      }
      .card-responses {
        text-align: right;
      }
      @media #{$medium-and-down} {
        align-items: flex-start;
        .card-title {
          line-height: 1.5rem;
          font-size: 1.2rem;
        }
      } 
    }
  }
  &:hover {
    background-color: lighten($off-white, 5%);
  }
}
