.div__survey-details-wrapper {
  max-width: 60rem;
  h5 {
    margin: 0 0 .75rem 1rem;
    @media #{$medium-and-up} {
      margin: 0 0 1.5rem 2rem;
    }
  }
  span {
    background-color: white;
    z-index: 9;
    position: relative;
  }
  strong {
    display: inline-block;
  }
  a {
    color: $secondary-button-color;
    @include transition(ease .3s all);
    &:hover {
      color: lighten($secondary-button-color, 20%)
    }
  }
}

.div__survey-detail-item.card {
  margin-bottom: 1.5rem;
  .div__data-wrapper {
    @media #{$large-and-up} {
      padding-right: 2rem;
    }
  }
  section {
    padding: 0 .75rem;
    &:first-of-type {
      margin-bottom: 2rem;
    }
  }
  .card-content {
    padding: 1rem .25rem;
    @media #{$medium-and-up} {
      padding: 1rem 2rem;
    }
    h6 {
      padding: .5rem .75rem;
      margin-bottom: .5rem;
      line-height: 1.75rem;
      color: $grey-text;
      font-size: 1.3rem;
      background-color: darken($off-white, 8%);
    }
    strong {
      color: $grey-text;
    }
    p {
      border-bottom: 1px solid darken($off-white, 10%);
      padding-bottom: .25rem;
      margin-bottom: .25rem;
      &:last-child {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
  .link__survey-delete {
    font-size: .9rem;
    font-weight: 400;
    height: 2.5rem;
    color: darken($purply-color, 20%);
    padding: 0 .25rem;
    margin-top: .25rem;
    float: right;
    i {
      margin-left: .25rem;
    }
    @media #{$medium-and-up} {
      position: absolute;
      right: .75rem;
      bottom: 0;
      padding: 0;
      margin: 0;
      float: none;
    }
  }
}
