.div__form-review-wrapper {
  max-width: 38rem;
  margin: 0 auto;
  overflow: hidden;
  h5 {
    margin-bottom: .25rem;
  }
  p {
    margin: 0 0 2rem;
    color: $med-grey-text;
  }
  button.left {
    font-size: .9rem;
  }
}

.div_form-review-fields-wrapper {
  margin-bottom: 2.5rem;
  div {
    margin-bottom: .5rem;
    padding: 0 0 .75rem 0;
    border-bottom: 1px solid lighten($med-grey-text, 40%);
    &:last-child {
      margin-bottom: .5rem;
      border-bottom: none;
    }
  }
  label {
    font-size: .9rem;
    color: $med-grey-text;
  }
  p {
    margin: 0; 
    font-size: 1.2rem;
    color: $dark-blue;
  }
}