.Toastify__toast-container {
  @media #{$medium-and-up} {
    width: 250px;
  }
}
.Toastify__toast--default.toast-message {
  border-radius: 3px;
  padding: 0 1.5rem;
  font-size: 1.05rem;
  background-color: transparentize($dark-blue, .05);
  color: $light-text;
  box-shadow: 2px 2px 9px -4px rgba(0,0,0,.6);
  min-height: 54px;
  .Toastify__toast-body {
    text-align: center;
  }
  .Toastify__progress-bar--default {
    background:linear-gradient(93deg,#2889e3,#489be8 15%,#745afa 47%,#f22f46 88%,#f22f46);
  }
}


